
<div fxLayout fxLayout.xs="column" fxLayout.sm="row" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" >
    <mat-toolbar color="primary" style="width: 100%;" >
      <mat-toolbar-row>
        <mat-icon>bug_report</mat-icon> CORONA TaceRT
      </mat-toolbar-row>
    </mat-toolbar>
    
</div>
<!-- <mat-grid-list cols="2" rowHeight="2:1"> -->

<div fxLayout fxLayout.xs="column" fxLayout.sm="row" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" >
  <div fxFlex="50%">
 <br >
<!--<agm-map [latitude]='geolocationPosition.coords.latitude' [longitude]='geolocationPosition.coords.longitude' 
[zoom]="17" [mapTypeId]='mapType' style="height: 400px;">
<agm-marker [latitude]="geolocationPosition.coords.latitude"
                [longitude]="geolocationPosition.coords.longitude" [label]="'M'"></agm-marker>
    </agm-map>-->

  </div>
  <div fxFlex="50%">
    <div fxLayout fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayout.lg="column" fxLayout.xl="column" >
      <div fxFlex="100%">
        <br >
        <mat-card style="margin-right: 20px; margin-left: 20px;">
          <mat-card-header>
            <div mat-card-avatar><mat-icon>explore</mat-icon></div>
            <mat-card-title>My Location</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout fxLayout.xs="row" fxLayout.sm="row" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" >
            <div  fxFlex="20%" style="font-weight: bold;">Latitude </div> <div  fxFlex="80%">{{geolocationPosition.coords.latitude}}</div> <br>
              </div>
            <div fxLayout fxLayout.xs="row" fxLayout.sm="row" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" >
            <div  fxFlex="20%" style="font-weight: bold;">Longitude </div> <div  fxFlex="80%">{{geolocationPosition.coords.longitude}}</div> <br>
            </div>
            <div fxLayout fxLayout.xs="row" fxLayout.sm="row" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" >
            <div  fxFlex="20%" style="font-weight: bold;">Accuracy </div> <div  fxFlex="80%">{{geolocationPosition.coords.accuracy}}</div>  <br> <br >

            </div>
            We are having data of infected places. You will get alert if, you are near to such place.
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex="40%">
              <button mat-button type="button" [disabled]="searchingArea" (click)="scanAreaForInfection()" color="primary">PROBABILITY</button>
            </div>
            <div fxFlex="60%">
              <mat-chip-list>
                <mat-chip *ngIf="searchingArea">Analyzing...</mat-chip>
                <mat-chip color="primary" selected *ngIf="this.infectedLocationPoints.length == 0" >It's Safe</mat-chip>
                <mat-chip color="accent" selected  *ngIf="this.infectedLocationPoints.length>0" >It's not Safe</mat-chip>
              </mat-chip-list>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="100%">
        <mat-card  style="margin-right: 20px; margin-left: 20px;">
          <mat-card-header>
            <div mat-card-avatar><mat-icon>share</mat-icon></div>
            <mat-card-title>Share Location History</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            You can sare your location history, we are having the location history of infected person. If you both were at same location at same time then you are having high probablity of infection.
          </mat-card-content>
          <mat-card-actions>
            <a mat-button href="https://takeout.google.com/settings/takeout" color="primary">DOWNLOAD FROM GOOGLE</a>
            <button mat-button  color="primary">UPLOAD AND ANALYZE</button>
    
          </mat-card-actions>
        </mat-card>

      </div>  
    </div>
  </div>
</div>

<a routerLink = "index">New component</a>

  Router --
  <router-outlet></router-outlet>
-- Router

<!-- </mat-grid-list> -->
<br ><br />
<footer class="license-footer">
	<div 
	style="margin: 5px; padding: 5px; text-align: center;">
	Designed & Developed By : Mitesh Patel
</div>
</footer>